<li>
    Name: <%= user.name %>
    <span class="profile-link">
        <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        <% if current_user != user %>
        <% if active_friends?(user) %>
        <%= link_to 'Dismiss Friendsip', @friendship, method: :delete,
                                data: { confirm: "You sure?" },
                                class: "badge bg-warning"%>
        <% else %>
        <%= link_to 'Befriend',
                             { controller: "friendships",
                               action: "create_friendship",
                               user_id: current_user.id,
                               friend_id: user.id },
        class: 'badge badge-secondary' %>
        <% end %>
        <% end %>
    </span>
</li>